.navbar {
	position: absolute;
	width: 100%;
	height: 10%;
	display: block-inline;
	  background-color: #EDF5E1;
  }


nav img { 
  display: inline-block;
  position: absolute;
  margin-top: -2%;
  margin-left: 1.5%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


body {
	background-color: #b4ecb4;
	font-family: 'Knewave', cursive;
}


.navbar-light .navbar-nav .nav-link {
    color: #379683;
}


.btn-outline-success {
	 border: 2px solid white;
	 background-color: #63AB62;
	 color: white;
	 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	 border-radius: 15px;
	 padding: 2% 5%;
}




.btn-outline-success:hover {
color: #63AB62;
border: 2px solid #63AB62;
background-color: white;
}




.navbar-custom .nav-item.active,
.navbar-custom .nav-item:hover .nav-link {
    color: #3F6C3E;
    background-color: rgba(0, 0, 0, 0.24);
}


.me-auto {
	margin-left: 10%;
}

.ms-auto {
	margin-right: 5%;
}

.footer {
	background-color: #654321;
	bottom: 0;
	text-align: right;
	margin-top: 8%;
}



.divider {
	margin: auto;
	text-align:center;
	margin-top: 1%;
	color: #63AB62;
	font-size: 25px;
	margin-bottom: 3%;
}

.page {
	color: #63AB62;
	 font-weight: bold;
	 font-size: 30px;
	 margin-top: 1%;
}

.jumbotron{
  background-color: #63AB62;
  color:aliceblue;
}



#pending {
	color: blue;
}

#accepted {
	color: green;
}

#denied {
	color: red;
}




